<section>
  <ul>
    <li><a href="/chat">Basic Chat</a></li>
    <li><a href="/todo">ToDo List</a></li>
    <li><a href="/drawing">Drawing Board</a></li>
    <li><a href="/panel">Sumavisos Properties Parsers Dashboard</a></li>
  </ul>
</section>