<!DOCTYPE HTML> 
<html lang="en"> 
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/panel.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/jquery.highlight.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/highcharts.src.js"></script>
  
  <% yield_content :head %>
</head>
<body> 
  
  <div id="page">
  
    <div id="main">  
      <img src="/images/logo-home.png" />
      
      <div id="status" class="rounded"></div>
      
      <%= yield %>
    </div>
  
    <div id="sidebar">
      <div id="chart">
        <% yield_content :chart %>  
      </div>
      
      <div id="map">
        <% yield_content :map %>
      </div>
    </div>
  
  </div>
  
</body>
</html>